<h2>Más Vendidos en Hombre</h2>
<div class="mas-vendidos">
  <div *ngFor="let producto of masVendidos" class="producto-card">
    <img [src]="producto.img" [alt]="producto.nombre" />
    <h3>{{ producto.nombre }}</h3>
    <p>Precio: ${{ producto.precio }}</p>
  </div>
</div>

<h2>Secciones</h2>
<div class="secciones-grid">
  <div *ngFor="let seccion of secciones" class="categoria-card" [routerLink]="seccion.ruta">
    <img [src]="seccion.img" [alt]="seccion.nombre" />
    <h3>{{ seccion.nombre }}</h3>
  </div>
</div>
